<h2>@EasyLOBSecurityResources.ResetPasswordConfirmation</h2>
<hr />

<div>
    <p>
        @EasyLOBSecurityResources.ResetPasswordConfirmationMessage: @Html.ActionLink(EasyLOBSecurityResources.LogIn, "Login", "Security", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
